<h1>My Project list</h1>

<ul>
    {% for project in projects %}
        <li>
            <strong>{{ project.name }}</strong>
            <p>{{ project.description }}</p>
            <em>{{ project.targetAmount }}</em>
        </li>
    {% endfor %}
</ul>